*{
  margin: 0;
  padding: 0;
}

.visible-scrollbar::-webkit-scrollbar {
  background: #F6F7F8;
  width: 6px;
}

.visible-scrollbar::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 50px;
}